.check-step {
    padding: 30px 0 20px 0;
}

.check-step ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    list-style: none;
}

.check-step ul:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

.check-step li {
    position: relative;
    float: left;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 25%;
    line-height: 1.25em;
    padding: 0 1em 1.25em 1em;
    border-bottom: 2px solid #ccc;
    color: #999;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.check-step li em {
    color: #999;
    font-size: .8em;
    font-weight: normal;
}

.check-step li:after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
}

.check-step li.cur {
    border-color: #d1434a;
    color: #d1434a;
}

.check-step li.cur:after {
    background: #d1434a;
}
.checkout-title{
    padding: 20px 0;
    font-size: 16px;
    color: #605F5F;
}
.addressBox{
    width: 300px;
    height: 170px;
    background-color: white;
    border: 2px lightgray dashed;
    margin-left: 100px;
}
.activeBorder{
    border: orange 3px dashed;
}
.addressBox:hover{
    border: orange 3px dashed;
}
.addAddressIcon{
    width: 50px;
    height: 50px;
}
.greyColor{
    color: #605F5F;
}
.deleteAddressIcon{
    width: 30px;
    height: 30px;
}