.cartItemImage{
    height: 50px;
    width: 50px;
}
.cartItemList{
    background-color: #F7F7F7;
    color: black;
    border-bottom: 1px solid gainsboro;
    /*margin-top: 10px;*/
    height: 80px;
}
.deleteIcon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.checkBox{
    width: 22px;
    height: 22px;
    margin-left: 50px;
    margin-right: 10px;
    background-color: white;
}
.checkBoxTmp input + label{
    /*width: 22px;*/
    /*height: 22px;*/
    /*margin-left: 50px;*/
    /*margin-right: 10px;*/
    /*background-color: white;*/
    background: url("../../images/Cart/check_box_outline_blank.png") left center no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;


}
.checkBoxTmp input:checked + label{
    background: url("../../images/Cart/check_box.png") left center no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
}

.checkBoxBox{
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.minHeight{
    min-height: 63vh;
}
.cartTitle{
    background-color: #F2F2F2;
    color: gray;
    font-weight: bold;
}
.countButton{
    border:1px solid gainsboro;
    height:30px;
    width: 20px;
}

